* {
    position: relative;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.corpo-da-pagina {
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color:black;


}

.container {
    max-width: 1140px;
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}


#cabecalho {
    display: flex;
    margin-left: 150px;
    color: red;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
}

#cabecalho .home ul {
    margin-left: 100px;

    padding-left: 15px;
    border-radius: 15px;
}

#cabecalho .mais-filmes ul {
    margin-left: 100px;

    padding-left: 15px;
    border-radius: 15px;
}

#cabecalho .planos ul {
    margin-left: 100px;

    padding-left: 15px;
    border-radius: 15px;
}

#cabecalho .categorias ul {
    margin-left: 90px;
    margin-top: 40px;

    padding-left: 15px;
    border-radius: 15px;

}


.login {
    position: static;
    margin: 15px;
    background-color: red;
    margin-left: 500px;
    padding: 20px;
    border-radius: 20px;





}


.Cadastra-se {
    display: flex;
    padding: 12px;
    color: blue;
    background-color: red;
    border-radius: 20px;
}




.banner {
    margin-left: 150px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: -500px;


}

.menu img {
    justify-content: center;
    align-items: center;
    padding: 160px;
    margin-left: 60px;
    
}


.menu p {
    display: flex;
    position: static;
    margin-left: -10px;
    background-color: red;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    padding: 1px;
    border: black;
    padding-left: 50px;


}


.rodape {
    display: flex;
    padding: 150px;
    color: red;
    font-size: 20px;
    margin-left: 350px;
    background-color: #181818;
    padding: 10px;
    margin-left: -20px;
    padding-left: 150px;
    width: 100%;
    margin-top: 50px;
}


.filmes h1 {
    padding: 15px;
    margin-left: -300px;
}

.filmes a {
    display: block;
    margin-left: -280px;
    margin-bottom: 15px;
    color: red;
}


.planos {
    margin-top: 10px;
    margin-left: -80px;
}

.planos a {
    display: block;
    margin-bottom: 20px;
    color: red;
}


.politica-privacidade {
    margin-left: 50px;
    margin-top: -50px;
}



.politica-privacidade a {
    display: block;
    margin-bottom: 15px;
    margin-top: 40px;
    color: red;

}


.copy {
    margin-top: -50px;
    margin-left: 250px;
    color: red;
}

/*pagina categorias*/

.main{
   margin-bottom: 150px;
   margin-left: 950px;
   margin-top: -50px;
   
   font: size 30px;
}

/*planos*/
.money{
    display: flex;
    color: red;
    margin-left: 150px;
    margin-top: 150px;
    padding: 15px;
    
    
}
.money{
    display: block;
}

.money h1{
    padding: 150px;
    margin-left: 200px;
    margin-top: -250px;


}

.money h2 {
      margin-left: 800px;
      margin-top: -200px;

}

.money h3{
      margin-left: 1100px;
      margin-top: -190px;

}

.para1{
    
    margin-left: 350px;
    margin-top: -160px;

}

.par2{
    margin-left: 350px;
}

.par3{
    margin-left: 350px;
}

.par4{
    margin-left: 350px;
}


.para2{
    margin-left: 800px;
    
}


.par5{
    margin-left: 800px;
}

.par6{
    margin-left: 800px
}


.par7{
    margin-left: 800px;
}


.para3{
    margin-left: 1100px;
}

.par8{
    margin-left: 1100px;
}


.par9{
    margin-left: 1100px;
}


.par0{
    margin-left: 1100px;
}


.entrar{
    
    color: red;
    margin-left: 450px;
    padding: 1px;
    
    margin-bottom: 150px;
    
    padding-left: -250px;
}

.form{
    font-size: 15px;
    width: 100%;
    margin-top: -15px;    
}

.form1{
    margin-top: 15px;

}

.log-ot{
    display: block;
    margin-left: 350px;
    margin-top: 50px;
    flex-direction: column-reverse;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    color: red;


}

.form2{
   display: block;
   margin-left: 10px;
   margin-top: 50px;
}


.form3{
    margin-top: 30px;
}


.e-mail{
    display: block;
    margin-left: -1px;

}


.sobre{
    display: block;
    margin-left: 552px;
    margin-top: -10px;
    padding-left: px;
    color: red;

}


.nos{
    margin-left: 350px;
}


.sobre3{
    margin-left: -250px;
}


.poli{
    display: block;
    margin-top: 15px;
    color: red;
    font-size: 20px;
    
    
     
     
}


.ht{
    margin-left: 590px;
}


.privacy{
    position: relative;
    padding-left: 350px;
    margin-left: -200px;
    
}



.NO{
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 15px;
    padding-left: 200px;
    padding-top: 15px;
    color: red;
}

.ssa{
    margin-left: 550px;
}



.cadas{
    font-size: 20px;
    position: relative;
    margin-top: 00px;
    padding: 10px;
    margin-left: 800px;
    
    
}


.cadas ul{
    margin-top: -200px;
    padding: 15px;
}

.cadas li{
    margin-top: 150px;
    margin-left: 900px;
}

.film{
    display: flex;
}